<a href="https://colab.research.google.com/github/annie1301/EDA/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot
from scipy.stats import skew,kurtosis
df_1=pd.read_csv("https://raw.githubusercontent.com/annie1301/EDA/main/penguins_lter.csv")
df_1=df_1.dropna(subset=['Sex'])#removing Nan values from Sex column
#uni=df_1['Sex'].unique()
df_1['Sex']=df_1['Sex'].replace(".",np.nan)#.str.strip().str.lower().str.capitalize()#then write dropna
print(df_1)
df_1=df_1[df_1['Sex'].notna()] #removing '.' --- giving problem

    studyName  Sample Number                              Species  Region  \
0     PAL0708              1  Adelie Penguin (Pygoscelis adeliae)  Anvers
1     PAL0708              2  Adelie Penguin (Pygoscelis adeliae)  Anvers
2     PAL0708              3  Adelie Penguin (Pygoscelis adeliae)  Anvers
4     PAL0708              5  Adelie Penguin (Pygoscelis adeliae)  Anvers
5     PAL0708              6  Adelie Penguin (Pygoscelis adeliae)  Anvers
..        ...            ...                                  ...     ...
338   PAL0910            119    Gentoo penguin (Pygoscelis papua)  Anvers
340   PAL0910            121    Gentoo penguin (Pygoscelis papua)  Anvers
341   PAL0910            122    Gentoo penguin (Pygoscelis papua)  Anvers
342   PAL0910            123    Gentoo penguin (Pygoscelis papua)  Anvers
343   PAL0910            124    Gentoo penguin (Pygoscelis papua)  Anvers

        Island               Stage Individual ID Clutch Completion  Date Egg  \
0    Torgersen  Adult, 1 Egg Stage          N1A1               Yes  11/11/07
1    Torgersen  Adult, 1 Egg Stage          N1A2               Yes  11/11/07
2    Torgersen  Adult, 1 Egg Stage          N2A1               Yes  11/16/07
4    Torgersen  Adult, 1 Egg Stage          N3A1               Yes  11/16/07
5    Torgersen  Adult, 1 Egg Stage          N3A2               Yes  11/16/07
..         ...                 ...           ...               ...       ...
338     Biscoe  Adult, 1 Egg Stage         N38A1                No   12/1/09
340     Biscoe  Adult, 1 Egg Stage         N39A1               Yes  11/22/09
341     Biscoe  Adult, 1 Egg Stage         N39A2               Yes  11/22/09
342     Biscoe  Adult, 1 Egg Stage         N43A1               Yes  11/22/09
343     Biscoe  Adult, 1 Egg Stage         N43A2               Yes  11/22/09

     Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)  \
0                  39.1               18.7                181.0
1                  39.5               17.4                186.0
2                  40.3               18.0                195.0
4                  36.7               19.3                193.0
5                  39.3               20.6                190.0
..                  ...                ...                  ...
338                47.2               13.7                214.0
340                46.8               14.3                215.0
341                50.4               15.7                222.0
342                45.2               14.8                212.0
343                49.9               16.1                213.0

     Body Mass (g)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0           3750.0    MALE                NaN                NaN
1           3800.0  FEMALE            8.94956          -24.69454
2           3250.0  FEMALE            8.36821          -25.33302
4           3450.0  FEMALE            8.76651          -25.32426
5           3650.0    MALE            8.66496          -25.29805
..             ...     ...                ...                ...
338         4925.0  FEMALE            7.99184          -26.20538
340         4850.0  FEMALE            8.41151          -26.13832
341         5750.0    MALE            8.30166          -26.04117
342         5200.0  FEMALE            8.24246          -26.11969
343         5400.0    MALE            8.36390          -26.15531

                           Comments
0    Not enough blood for isotopes.
1                               NaN
2                               NaN
4                               NaN
5                               NaN
..                              ...
338                             NaN
340                             NaN
341                             NaN
342                             NaN
343                             NaN

[334 rows x 17 columns]

<ipython-input-2-5e5c606c7618>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Sex']=df_1['Sex'].replace(".",np.nan)#.str.strip().str.lower().str.capitalize()#then write dropna

In [3]:
sum_FL=(df_1['Flipper Length (mm)'].sum())
sum_BM=(df_1["Body Mass (g)"].sum())
prod=df_1['Flipper Length (mm)']*df_1["Body Mass (g)"]
x_y=sum(prod)
n=len(df_1['Flipper Length (mm)'])
FL_2=(df_1['Flipper Length (mm)']*df_1['Flipper Length (mm)'])
sum_FL_2=FL_2.sum()
BM_2=(df_1["Body Mass (g)"]*df_1["Body Mass (g)"])
sum_BM_2=BM_2.sum()
corr_numer=n*(x_y)-(sum_BM*sum_FL)
print(corr_numer)
corr_denom=((n*sum_FL_2-(sum_FL)**2)*(n*sum_BM_2-(sum_BM)**2))**0.5
print(corr_denom)
corr_coeff=corr_numer/corr_denom
print(corr_coeff)

1089218900.0
1247703583.4314024
0.8729788985653613